# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Ignore specific VS related files and directories
source/x64/*
source/.vs/*
.idea/*
source/datasets/EEA1-Tom20-6Classes-R21.FDA
source/Debug/Modeling.64B15F35.tlog/CL.command.1.tlog
source/Debug/Modeling.64B15F35.tlog/CL.read.1.tlog
source/Debug/Modeling.64B15F35.tlog/CL.write.1.tlog
source/Debug/Modeling.64B15F35.tlog/Modeling and Analysis of Uncertainty.lastbuildstate
source/Debug/Modeling.64B15F35.tlog/unsuccessfulbuild
source/Debug/vc143.idb
source/Debug/vc143.pdb
source/example.txt
source/example.txt
